/*--------------CSS main------------*/
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

:before,:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

html {
	font-size:60%;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}


/*--------------Theme colors------------*/
.col1 {
    color: #249991;
}

.bg1 {
    background-color: #249991;
}

.col2 {
    color: #3b658a;
}

.bg2 {
    background-color: #3b658a;
}

.col3 {
    color: #ce5f5f;
}

.bg3 {
    background-color: #ce5f5f;
}

.col4 {
    color: #408441;
}

.bg4 {
    background-color: #408441;
}
/*--------------Container elements------------*/

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  min-width:420px
}

body::before, body::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

body::after {
  content: "";
  width: 400%;
  height: 400%;
  opacity: 0.8;
  background: -moz-linear-gradient(-45deg, #84fab0, #8fd3f4);
  background: -webkit-linear-gradient(-45deg, #84fab0, #8fd3f4);
  background: linear-gradient(-45deg, #249991, #84fab0, #8fd3f4);
  -webkit-animation: gradient_transition 15s ease infinite;
  -moz-animation: gradient_transition 15s ease infinite;
  animation: gradient_transition 15s ease infinite;
}

@-webkit-keyframes gradient_transition {
  0% {top: 0;left: 0;}
  50% {top: -200%;left: -200%;}
  100% {top: 0;left: 0;}
}
@-moz-keyframes gradient_transition {
  0% {top: 0;left: 0;}
  50% {top: -200%;left: -200%;}
  100% {top: 0;left: 0;}
}

@keyframes gradient_transition {
  0% {top: 0;left: 0;}
  50% {top: -200%;left: -200%;}
  100% {top: 0;left: 0;}
}

footer,header,nav,section {
	display:block
}


.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}
.row{margin-left:-15px;margin-right:-15px}

.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:hover,.btn:focus{color:#333;text-decoration:none}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-default:hover,.btn-default:focus,.btn-default:active{color:#333;background-color:#ebebeb;border-color:#adadad}
.btn-default:active{background-image:none}
.btn {
    margin-right: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 30px;
    line-height: 30px;
    padding-top: 0
}

.btn:hover .btn-hide-text {
    width: 105px;
    padding-left: 6px
}

.btn:hover .btn-hide-text.short {
    width: 65px;
    padding-left: 6px
}

.btn-default {
    background: #3b658a;
    color: #fafafa;
    border: #3b658a;
    margin-bottom: 6px
}

.btn-default:hover {
    background: #194368!important;
    color: #fafafa
}

.btn-hide-text {
    display: inline-block;
    width: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left;
    line-height: 30px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 10px
}
.nav{margin-bottom:0;padding-left:0;list-style:none}
.nav>li{position:relative;display:block}
.nav>li>a{position:relative;display:block;padding:10px 15px}
.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#eee}


.clearfix:before,.clearfix:after,.container:before,.container:after,.nav:before,.nav:after,.row:before,.row:after{content:" ";display:table}
.clearfix:after,.container:after,.nav:after,.row:after{clear:both}


/*--------------Text elements------------*/
.font1 {
    font-family: 'Open Sans', sans-serif
}

.bold {
    font-weight: 700
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

h1,
h2 {
    color: #249991;
	margin-block-start: 12px;
	margin-block-end: 12px;
}

h3 {
    color: #3b658a;
	margin-block-start: 12px;
	margin-block-end: 12px;
	line-height:1;
}

h3 span {
	float:right;
	padding-bottom:5px;
	padding-left:10px;
}

h4 {
	line-height:16px;
	margin:10px, 0;
	margin-block-start: 12px;
	margin-block-end: 16px;
}

h4 a {
	color: #999
}

h4 a:hover {
	color: #555
}

p {
    color: #555;
	line-height:1.5;
	margin-block-start:10px;
	margin-block-end:10px;
}

a {
	color: #555;
	text-decoration:none;
}

a:hover {
	color:#555
}



/*--------------Page elements-----------*/
.line-content {
    opacity: 1
}

/*--------------Loader-----------*/

#page-loader {
    width: 100%;
    height: 100%;
    background: #2a5479;
    color: #249991;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999
}

.loading-wrapper {
    width: 250px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -125px
}

.tp-loader {
    z-index: 10000;
    position: relative
}

.tp-loader.spinner {
    width: 30px;
    height: 30px;
    margin: 0 auto 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

@-webkit-keyframes tp-rotateplane {
    0% {-webkit-transform: perspective(120px); transform: perspective(120px)}
    50% { -webkit-transform: perspective(120px) rotateY(180deg);transform: perspective(120px) rotateY(180deg)}
}

@keyframes tp-rotateplane {
    0% {transform: perspective(120px) rotateX(0deg) rotateY(0deg);-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)}
    50% {transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)}
}

/*--------------Side menu------------*/

.side-menu-open {
    position: fixed;
    left: 0;
    height: 100%;
    cursor: pointer;
    z-index: 777
}

.side-menu-button {
    font-weight: 700;
    display: block;
    top: 0px;
    margin-top: 40px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #333;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    opacity: .9
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #111;
    color: #fafafa;
    padding: 60px 22px;
    z-index: 888;
    opacity: .9
}

.side-menu a,
.side-menu p {
    color: #fafafa
}

.side-menu-nav {
    list-style: none;
    width: 100%;
    margin-bottom: 45px
}

.side-menu-nav li {
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px dotted #616161;
    background: none!important
}

.side-menu-nav li a {
    color: #d8d8d8;
    background: none!important;
    display: block;
    width: 100%;
    font-weight: 200;
    height: 35px;
    line-height: 35px;
    padding: 0!important;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-menu-nav li a:hover {
    padding-left: 5px!important;
    color: #fff;
    font-weight: 300;
    text-decoration: none
}

.side-menu-nav li.active a {
    padding-left: 5px!important;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    background: none!important
}

.nav>li>a {
    padding: 0
}

.nav>li>a:hover {
    background: 0 0
}

.side-menu-name {
    border: 2px solid #fafafa;
    color: #fafafa;
    opacity: .9;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    padding: 8px 2px;
    font-weight: 200
}

.side-menu-job {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 200;
    font-size: 12px;
    margin-top: 5px;
    color: #d8d8d8
}

#side-menu-close {
    font-size: 18px;
    color: #fff;
    opacity: .5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer
}

#side-menu-close:hover {
    opacity: 1
}

.btn-side-menu {
    display: block;
    width: 100%;
    text-align: center;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.btn-side-menu:hover {
    background: #fff;
    opacity: .8
}

/*--------------Top colors------------*/
.top-colors {
    padding: 0!important
}

@media (min-width:768px){
	.top-colors{
		width:84%;
		margin-left:8%
	}
}
@media (min-width:992px){
	.top-colors{
		width:84%;
		margin-left:16%
	}
}

.top-color {
    height: 8px;
    width: 20%;
    float: left;
}




/*--------------Sections------------*/
.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px
}

@media (min-width:992px) {
    .section-title {
        margin-left: -15px
    }
}

@media (min-width:1200px) {
    .section-title {
        margin-left: -35px
    }
}

.section-item-title-1 {
    color: #3b658a;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 14px
}


#content-body {
    position: relative
}

@media (min-width:992px) {
    #content-body {
        margin-top: 45px;
        margin-bottom: 90px
    }
}

@media (min-width:1200px) {
    #content-body {
        margin-bottom: 200px
    }
}

.header-buttons {
    text-align: right;
    padding-top: 15px
}

@media (min-width:992px){
	.header-buttons{
		width:83.33333333%;
		margin-left:8.33333333%
	}
}

.resume-container {
    background: url(../img/top-bg.png) no-repeat top left, url(../img/b.png) no-repeat bottom right, #fafafa
}

.col{
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px
}

@media (min-width:992px){
	.col{float:left}
}

@media (min-width:768px){
	.resume-container{
		width:84%;
		margin-left:8%
	}
}
@media (min-width:992px){
	.resume-container{
		width:84%;
		margin-left:16%
	}
}

.col-sm-10,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
@media (min-width:768px){
	.col-sm-10{width:83.33333333%}
	.col-sm-offset-1{margin-left:8.33333333%}
}
@media (min-width:992px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10{float:left}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}
.col-md-offset-2{margin-left:16.66666667%}
.col-md-offset-1{margin-left:8.33333333%}
}
/*--------------Profile intro------------*/
.profile-intro p {
    font-size: 16px;
    text-align: center
}

@media (min-width:768px) {
    .profile-intro p {
        text-align: left;
        font-size: 14px
    }
}

.intro-title1 {
    font-size: 36px;
    color: #444;
    letter-spacing: -1pt;
    border-bottom: 1px solid #249991;
    padding-bottom: 10px;
    font-weight: 200;
    margin-top: 15px;
    text-align: center
}

@media (min-width:768px) {
    .intro-title1 {
        font-size: 40px
    }
}

@media (min-width:992px) {
    .intro-title1 {
        margin-top: 0;
        text-align: left;
        font-size: 48px
    }
}

.intro-title2 {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center
}

@media (min-width:768px) {
    .intro-title2 {
        font-size: 20px;
    }
}

@media (min-width:992px) {
    .intro-title2 {
        text-align: left
    }
}

@media (min-width:992px){
	.profile-col{
		float:left;
		width:32%
	}
}

.profile-intro {
    margin-top: 50px;
    position: relative;
    z-index: 99
}

@media (min-width:992px) {
    .profile-intro {
        height: 245px
    }
}

.profile-pic {
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 210px;
    height: 210px;
    border: 5px solid #249991;
    overflow: hidden;
    margin: 0 auto;
    background: #fafafa
}

.profile-pic img {
    width: 188px;
    height: 188px;
    margin-top: 6px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.intro-col p a:hover{
	color: #ff0000;
}

@media (min-width:992px){
	.intro-col{
		width:60%
	}
}



/*--------------Timeline elements------------*/
.timeline-wrap {
    background: #249991;
    position: relative;
    z-index: 88
}

@media (min-width:992px) {
    .timeline-wrap {
        top: -44px
    }
}

.bg,
.timeline-bg {
    background: #fafafa
}

@media (min-width:992px) {
    .timeline-bg {
        background: url(../img/timeline-bg.png) repeat-x center center fixed
    }
}

@media (min-width:992px){
	.content-col{width:68%}
	.margin-col{width:8%}
	.timeline-col{width:16%}
	.right-col{width:76%}
}


.timeline-progress {
    background: url(../img/tl-space.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-point {
    background: url(../img/tl-point.png) center center;
    background-size: 400px 500px
}

.timeline-education {
    background: url(../img/tl-education.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-award {
    background: url(../img/tl-award.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-experience {
    background: url(../img/tl-experience.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-skill {
    background: url(../img/tl-skill.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-affiliation {
    background: url(../img/tl-affiliation.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-project {
    background: url(../img/tl-project.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-publication {
    background: url(../img/tl-publication.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-reference {
    background: url(../img/tl-reference.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-contact {
    background: url(../img/tl-contact.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-title {
    background: url(../img/tl-title.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-thanks {
    background: url(../img/tl-thank.png) no-repeat center center;
    background-size: 400px 500px
}

.timeline-margin .content-wrap {
    height: 40px
}

@media (min-width:992px) {
    .timeline-margin .content-wrap {
        height: 80px
    }
}

@media (min-width:992px) {
    .timeline-margin-big .content-wrap {
        height: 260px
    }
}

.line-content {
    color: #555;
    font-size: 16px
}

@media (min-width:992px) {
    .line-content {
        margin-left: -15px
    }
}

@media (min-width:1200px) {
    .line-content {
        margin-left: -35px
    }
}

.line-content p {
    font-size: 14px;
}

.line-content p span {
	line-height: 1;
}

.line-content-education {
    padding-bottom: 10px
}

@media (min-width:992px) {
    .line-content-education {
        min-height: 75px
    }
}

.graduation-time,
.job {
    font-size: 14px;
    font-weight: 700;
    color: #999
}

.graduation-date,
.job-date {
    font-size: 14px;
    font-style: italic;
    font-weight: 200
}

.graduation-description,
.job-description {
    font-size: 14px
}

.graduation-description p,
.job-description p {
    font-size: 14px;
    line-height: 19px
}



/*--------------Skills------------*/

.skills {
	float:left;
    overflow:hidden;
    height: 25px;
	border-radius:4px;
	line-height:20px;
	text-align:center;
	font-size: 14px;
    color: #fff;
    padding: 3px 20px 2px 20px;
	margin: 5px 10px 5px 0;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
}

.skills-list {
    list-style: none
}




/*--------------Portfolio elements------------*/
.portfolio .line-content {
    height: 305px
}

.portfolio-item {
    position: relative;
    width: 250px;
    height: 200px;
    overflow: hidden;
    background: 0 0;
	float:left;
	margin: 0 10px 10px 0;
	border-radius: 2px
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.2) rotate(-5deg);
    -o-transform: scale(1.2) rotate(-5deg);
    transform: scale(1.2) rotate(-5deg);
}

.portfolio-item a {
    background: 0 0;
    float:left;
}

.portfolio-item img {
    width: 100%;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	border:0;
	vertical-align:middle
}

.portfolio-item:hover img {
    filter: brightness(50%)
}

.portfolio-item .hover-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 3;
    display: none
}

.portfolio-item .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    color: #fff;
    opacity: 1;
    display: none;
    padding: 20px;
    justify-content:center;
    align-content:center;
}

.portfolio-item .hover p {
    color: #fff;
    text-align: center
}

.portfolio-item:hover .hover {
	display: flex
}

.portfolio-item .hover p.zoomi {
    font-size: 48px
}

.portfolio-item .hover p.portfolio-item-title {
    font-size: 16px;
	display: flex;
    justify-content:center;
    align-content:center;
	flex-direction:column;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



/*--------------Container elements------------*/
.contact-content {
    padding-bottom: 20px;
    min-height: 315px
}


/*--------------Footer------------*/

.thank-you {
    font-weight: 200;
    font-size: 68px;
    line-height: 56px;
    color: #aaa;
    font-style: italic;
    position: relative;
    top: -5px;
    text-align: center
}

@media (min-width:992px) {
    .thank-you {
        text-align: left;
		line-height: 1;
		
    }
}

#footer {
    background: #ce5f5f;
    color: #fff;
    padding: 17px;
    text-align: center;
    margin-top: 130px
}

#footer p {
    color: #fff
}

#footer .quote {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 5px;
	line-height: 1.5
}

#footer .author {
    font-size: 14px;
    font-weight: 700
}


/*--------------Copyright------------*/
.copyright {
    float:right;
    margin-right: 10px;
    z-index: 0
}

.copyright-text {
    color: #000
}


/*  miscell***/

.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.invisible{visibility:hidden}
.hidden{display:none!important;visibility:hidden!important}
@media (max-width:767px){.hidden-xs{display:none!important}}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}
@media (min-width:1200px){.hidden-lg{display:none!important}}