/*--------------Fonts------------*/

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(fonts/Light.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(fonts/Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(fonts/Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url(fonts/Italic.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
    url(fonts/LightItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
    url(fonts/BoldItalic.woff2) format("woff2");
}

/*--------------Theme colors------------*/

:root {
  --color1: #00838f;
  --color2: #3862a2;
  --color3: #a7300b;
  --color4: #558b2f;
  --fontthemerev: #fafafa;
  --fontwhite: #fafafa;
  --fonttheme: #353535;
  --fontdarktheme: #151515;
  --rgbdark: 25, 25, 25;
  --rgblight: 231, 231, 231;
  --rgbtheme: 231, 231, 231;
  --rgbthemerev: 25, 25, 25;
  --quoteback: 167, 48, 11;
  --darkenoverlay: brightness(100%);
  --backdrop: blur(10px);
  --radius: 5px;
  --transparency: 1;
  --shadow: 0 0px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 0 3.6px 0 rgba(0, 0, 0, 0.108);
  --hovershadow: 0 0 54.6px 0 rgba(0, 0, 0, 0.22),
    0 0 14.4px 0 rgba(0, 0, 0, 0.18);
  --btnshadow: 0 0px 3.2px 0 rgba(0, 0, 0, 0.3), 0 0px 1px 0 rgba(0, 0, 0, 0.2);
  --btnshadowhover: 0 0px 7px 0 rgba(0, 0, 0, 0.5),
    0 0px 3px 0 rgba(0, 0, 0, 0.3);
  --tlgradient: transparent calc(50% - 3px),
    var(--color1) calc(50% - 3px) calc(50% + 3px), transparent calc(50% + 3px);
  --rem: 1rem;
  --fluentborder: 0;
  --fluentborderhover: 0.5;
  --fluentback: 0.1;
  --fluentbackhover: 0.5;
}

:root.dark {
  --color1: #2e929c;
  --color2: #3293d8;
  --color3: #92492b;
  --color4: #138c33;
  --fonttheme: #bbb;
  --fontdarktheme: #ccc;
  --fontwhite: #ccc;
  --fontthemerev: #353535;
  --rgbtheme: 25, 25, 25;
  --rgbthemerev: 231, 231, 231;
  --quoteback: 156, 74, 48;
  --darkenoverlay: brightness(50%);
  --shadow: 0 0px 10.4px 0 rgba(255, 255, 255, 0.132),
    0 0 3.6px 0 rgba(255, 255, 255, 0.108);
  --hovershadow: 0 0 25.6px 0 rgba(255, 255, 255, 0.22),
    0 0 14.4px 0 rgba(255, 255, 255, 0.18);
  --btnshadow: 0 0px 3.2px 0 rgba(255, 255, 255, 0.3),
    0 0px 1px 0 rgba(255, 255, 255, 0.2);
  --btnshadowhover: 0 0px 7px 0 rgba(255, 255, 255, 0.5),
    0 0px 3px 0 rgba(255, 255, 255, 0.3);
}

@supports (backdrop-filter: blur(10px)) {
  :root {
    --transparency: 0.5;
  }
}

@supports (-webkit-backdrop-filter: blur(10px)) {
  :root {
    --transparency: 0.5;
  }
}
/*--------------CSS main------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  color: var(--fontthemerev);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-width: 360px;
  padding: 0px;
  margin: 0;
  background-image: url("img/bg.svg#sp5v"), url("img/bg.svg#sp4v"),
    url("img/bg.svg#sp3v"), url("img/bg.svg#sp2v"), url("img/bg.svg#sp1v");
  background-size: calc(1280 / 720 * 100vh) 100vh;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat-x;
  overflow-x: hidden;
  /*scroll-snap-type: y proximity;*/ /*messes iOS scrolling*/
  overflow-y: scroll;
}

@media only screen and (min-width: 480px) {
  body {
    padding: 10px calc(50% - 240px);
  }
}

@media only screen and (min-width: 500px) {
  body {
    padding: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 40px calc(50% - 480px);
  }
}

@media only screen and (min-width: 1040px) {
  body {
    padding-left: calc(100% - 1000px);
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1290px) {
  body {
    padding-left: 290px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1390px) {
  body {
    padding-left: calc(50% - 530px + 125px);
    padding-right: calc(50% - 530px - 125px);
  }
}

body > svg {
  display: none;
}

/*--------------Text elements------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: default;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a:focus {
  outline: var(--color3 dotted 2px);
  outline-offset: 0.05rem;
}

/*--------------Page elements-----------*/

.btn {
  user-select: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

@media print {
  .noprint,
  .noprint * {
    display: none !important;
  }
}

.onlyPrint {
  display: none;
  color: var(--fonttheme);
  text-align: center;
  margin-bottom: 20px;
}

@media print {
  .onlyPrint {
    display: block !important;
  }
}

/*-------------Menu open button------------*/

.menu-open {
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: -5rem;
  display: block;
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  z-index: 900;
}

@media only screen and (min-width: 1280px) {
  .menu-open {
    display: none;
  }
}

@media (hover: hover) {
  .menu-open:hover {
    background: rgba(var(--rgbthemerev), 0.2);
  }
}

.menu-open svg {
  height: 3rem;
  width: 3rem;
  margin: calc(50% + 5px) 0 0 calc(50% + 5px);
  position: absolute;
}

.menu-open svg path {
  --length: 24;
  --offset: -38;
  fill: none;
  stroke: var(--fontdarktheme);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (hover: hover) {
  .menu-open:hover svg path {
    stroke: var(--color1);
  }
}

.menu-open svg path {
  --total-length: 126.64183044433594;
}

input#menu:checked ~ .menu-open svg path {
  --length: 22.627416998;
  --offset: -94.1149185097;
}

.menu-open svg path:nth-child(2) {
  --total-length: 70;
}

input#menu:checked ~ .menu-open svg path:nth-child(2) {
  --length: 0;
  --offset: -50;
}

/*--------------Side menu------------*/

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  min-width: 250px;
  overflow: hidden;
  clip-path: circle(5rem at 0 0px);
  -webkit-clip-path: circle(5rem at 0 0px);
  transition: clip-path 0.5s ease-in-out;
  background-color: rgba(var(--rgbtheme), var(--transparency));
  padding: 64px 50px 25px;
  z-index: 888;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: var(--backdrop);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: var(--shadow);
  pointer-events: none;
}

input#menu:checked ~ .side-menu {
  clip-path: circle(150% at 0 0px);
  -webkit-clip-path: circle(150% at 0 0px);
  pointer-events: visible;
}

.side-menu:focus-within {
  clip-path: circle(150% at 0 0px);
  -webkit-clip-path: circle(150% at 0 0px);
  pointer-events: visible;
}

@media only screen and (min-width: 480px) {
  .side-menu {
    width: 250px;
    padding: 64px 25px 25px;
  }
}

.side-menu::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .side-menu {
    clip-path: circle(150%);
    -webkit-clip-path: circle(150% at 0 0px);
    pointer-events: visible;
    padding: 25px;
  }
}

@media only screen and (max-width: 1279px) {
  input#menu:not(:checked) ~ .side-menu > * {
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
  }
}

/*--------------Side menu navigation------------*/

.side-menu > nav {
  padding: 10px 0px;
  display: flex;
  flex: 1 0 500px; /*for iphone!*/
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

.side-menu > nav > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px !important;
  text-transform: uppercase;
  color: var(--fontdarktheme);
  border-radius: var(--radius);
  margin: 4px 0px;
  font-size: 1rem;
  background-color: rgba(var(--rgbthemerev), var(--fluentback));
  border: 1px solid transparent;
  border-image-source: none;
  border-image-slice: 1;
  border-image-width: 1px;
}

.side-menu > nav > a > svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--fonttheme);
}

.side-menu > .buttons {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid rgba(var(--rgbthemerev), var(--transparency));
}

.side-menu > .buttons > a {
  width: 48%;
  margin: 4px 0px;
  color: var(--fontdarktheme);
  font-weight: 700;
  padding: 5px 0;
  text-transform: uppercase;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  background-color: rgba(var(--rgbthemerev), var(--fluentback));
  border: 1px solid transparent;
  border-image-source: none;
  border-image-slice: 1;
  border-image-width: 1px;
}

.side-menu > .buttons > a > svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--fonttheme);
  display: flex;
  margin-bottom: 4px;
}

/*--------------Side menu tools------------*/

.side-menu > .action {
  display: flex;
  flex-direction: row;
  flex: 0 0 45px; /*for iphone!*/
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(var(--rgbthemerev), var(--transparency));
}

.side-menu > .action > input {
  height: 22px;
  display: inline-flex;
  min-width: 0;
  flex: 0 0 65%;
  border-radius: 11px;
  background: rgba(var(--rgbthemerev), var(--fluentback));
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 3px;
  display: inline-flex;
  align-items: center;
  color: var(--fontdarktheme);
}

.side-menu > .action > input#theme {
  flex: 0 0 27%;
  align-items: space-between;
  justify-content: center;
}

.side-menu > .action > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(var(--rgblight));
}

.side-menu > .action > #fontsize:before,
.side-menu > .action > #fontsize:after {
  content: "A";
  padding: 2px;
  line-height: 16px;
}

.side-menu > .action > #fontsize:before {
  font-size: 8px;
}

.side-menu > .action > #fontsize:after {
  font-size: 14px;
}

.side-menu > .action > #theme:before,
.side-menu > .action > #theme:after {
  padding: 2px;
  line-height: 16px;
  font-size: 10px;
  position: absolute;
  text-align: center;
}

.side-menu > .action > #theme:before {
  content: "DARK";
  transform: translateX(7px) translateY(-4px);
}

.side-menu > .action > #theme:after {
  content: "OFF";
  transform: translateX(7px) translateY(4px);
}

.side-menu > .action > #theme[value="1"]::after {
  content: "ON";
  transform: translateX(-7px) translateY(4px);
}

.side-menu > .action > #theme[value="1"]::before {
  transform: translateX(-7px) translateY(-4px);
}

/*--------------Section------------*/

section {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  align-items: stretch;
  flex: 0 0 100%;
  background-color: rgba(var(--rgbtheme), 0.8);
  /*scroll-snap-align: start;
  scroll-snap-stop: always;*/ /*messes iOS scrolling*/
}

@media only screen and (min-width: 480px) {
  section {
    border-radius: var(--radius);
    margin: 10px auto;
    box-shadow: var(--shadow);
    background-color: rgba(var(--rgbtheme), var(--transparency));
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: var(--backdrop);
  }

  section:hover,
  section:active {
    box-shadow: var(--hovershadow);
  }
}

@media only screen and (min-width: 1290px) {
  section {
    padding: 0 calc(50% - 480px);
    margin: 20px 0px;
  }
}

@media print {
  section {
    box-shadow: none !important;
    page-break-inside: avoid;
  }
}

/*---------Section fonts------------*/

section h1 {
  font-size: 2.5rem;
  letter-spacing: -1pt;
  border-bottom: 1px solid var(--color1);
  font-weight: 700;
}

@media only screen and (min-width: 780px) {
  section h1 {
    font-size: 3rem;
  }
}

section h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

section h3 {
  color: var(--color1);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 780px) {
  section h3 {
    font-size: 2.2rem;
    text-align: left;
  }
}

section h4 {
  color: var(--color2);
  font-size: 1.2rem;
  padding: 5px 0px;
  text-transform: uppercase;
  border-bottom: var(--color2) solid 2px;
  overflow: hidden;
}

@media only screen and (min-width: 780px) {
  section h4 {
    font-size: 1.3rem;
  }
}

section h4 span {
  float: right;
  padding-left: 10px;
  color: var(--color4);
}

section h5 {
  color: var(--fonttheme);
  font-size: 1rem;
  padding: 5px 0px;
  overflow: hidden;
}

section h5 span {
  float: right;
  padding-left: 10px;
}

section h5 a {
  text-decoration: none;
  color: var(--fonttheme);
  font-weight: 400;
}

section h6 {
  font-size: 1rem;
}

section p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5px;
  line-height: 1.4rem;
  color: var(--fontdarktheme);
}

section p.bull-ind {
  text-indent: -2rem;
  padding-left: 4rem;
}

section p.bull-ind:before {
  content: "‣ ";
  font-size: 1.2rem;
}

section p a {
  text-decoration: none;
  color: var(--fontdarktheme);
}

/*--------------Profile intro------------*/

.header {
  padding-top: 50px;
}

.header:after,
.header:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.header:before {
  height: 10px;
  background: linear-gradient(
    90deg,
    var(--color1) 25%,
    var(--color2) 25% 50%,
    var(--color3) 50% 75%,
    var(--color4) 75% 100%
  );
}

@media only screen and (min-width: 780px) {
  .header {
    flex-direction: row;
  }
  .header:before {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
  }
  .header:after {
    background: linear-gradient(
      135deg,
      rgba(var(--rgbthemerev), 0.08) 0% 8%,
      rgba(var(--rgbthemerev), 0.05) 8% 16%,
      rgba(var(--rgbthemerev), 0.02) 16% 24%,
      transparent 24%
    );
    height: 100%;
  }
}

.header > div {
  display: flex;
  flex-direction: column;
}

.header > .avatar {
  flex: 0 0 32%;
  justify-content: center;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  border: 6px solid var(--color1);
  padding: 7px;
  flex: 0 0 230px;
  height: 230px;
}

.avatar object {
  border-radius: 50%;
  border: 6px solid var(--color1);
  padding: 7px;
  width: 230px;
  height: 230px;
  font-size: 2.8rem;
  line-height: 2.5rem;
  color: var(--fontthemerev);
  text-transform: uppercase;
}

.avatar object:after {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  content: attr(alt);
}

.avatar:after,
.avatar:before {
  content: "";
  width: 100%;
  flex: 1 0 auto;
  display: none;
}

.avatar:after {
  background: linear-gradient(90deg, var(--tlgradient));
}

@media only screen and (min-width: 780px) {
  .avatar:after,
  .avatar:before {
    display: flex;
  }
}

.header > .bio {
  padding: 20px 10px;
}

@media only screen and (min-width: 780px) {
  .header > .bio {
    padding: 20px 40px 20px 20px;
  }
}

.header > .bio > h1 {
  color: var(--color1);
}

.header > .bio > h1:before {
  content: "Hi, I'm ";
  color: var(--fonttheme);
  font-weight: 200;
}

.header > .bio > h1:after {
  content: "!";
  color: var(--fonttheme);
  font-weight: 200;
}

.header > .bio > h2:before {
  content: "I'm a ";
}

.header > .bio > h2:after {
  content: ".";
}

.header h1,
.header h2,
.header p {
  padding: 10px 0px;
  text-align: center;
  color: var(--fonttheme);
}

@media only screen and (min-width: 780px) {
  .header h1,
  .header h2,
  .header p {
    text-align: left;
  }
}

/*--------------Timeline elements------------*/

.timeline:before,
.timeline:after {
  display: flex;
  flex: 0 0 10px;
  width: 32%;
  content: "";
}

@media (min-width: 780px) {
  .timeline:before,
  .timeline:after {
    background: linear-gradient(90deg, var(--tlgradient));
    flex: 0 0 20px;
    /*margin: -5px 0px;*/
  }
}

.timeline > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.timeline > div > div:first-child {
  display: none;
  flex: 0 0 32%;
  align-items: center;
  align-self: normal;
}

@media (min-width: 780px) {
  .timeline > div > div:first-child {
    display: flex;
  }
}

.timeline > div > div:first-child {
  flex-direction: column;
  align-self: normal;
}

.timeline > div > div:first-child:before,
.timeline > div > div:first-child:after {
  content: "";
  width: 100%;
  flex: 1 0 auto;
  background: linear-gradient(90deg, var(--tlgradient));
}

.timeline > div > div:first-child > div {
  width: 64px;
  flex: 0 0 64px;
  border-radius: 50%;
  border: var(--color1) solid 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline > div > div:first-child > div > svg {
  width: 32px;
  height: 32px;
  fill: var(--color1);
  border-radius: 25%;
}

.timeline > div > div:not(:first-child) {
  flex: 0 0 100%;
  padding: 10px;
}

@media only screen and (min-width: 780px) {
  .timeline > div > div:not(:first-child) {
    flex: 0 0 76%;
    padding: 10px 40px 10px 10px;
    margin-left: -8%;
  }
}

.timeline > div:first-child > div:first-child {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--tlgradient));
}

.timeline > div:first-child > div:first-child:before,
.timeline > div:first-child > div:first-child:after {
  content: "";
  position: absolute;
  height: 16px;
  margin-top: 2px;
}

.timeline > div:first-child > div:first-child:before {
  width: 48px;
  background: linear-gradient(0deg, var(--tlgradient));
  transform: translateX(50%);
}

.timeline > div:first-child > div:first-child:after {
  width: 16px;
  background-color: var(--color1);
  transform: translateX(48px);
  border-radius: 50%;
}

/*--------------Skills------------*/

#skills > .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 200;
}

.skills-list {
  list-style: none;
}

.skills > span {
  border-radius: 1rem;
  padding: 2px 10px;
  margin: 5px;
  box-shadow: var(--btnshadow);
  color: var(--fontwhite);
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.skills svg {
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
  border-radius: 2px;
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.5));
  display: flex;
}

#skills span:nth-child(4n + 1) {
  background-color: var(--color1);
}

#skills span:nth-child(4n + 2) {
  background-color: var(--color2);
}

#skills span:nth-child(4n + 3) {
  background-color: var(--color3);
}

#skills span:nth-child(4n + 4) {
  background-color: var(--color4);
}

/*--------------Portfolio elements------------*/

#projects > div:not(:first-child) > div:not(:first-child) > div {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  #projects > div:not(:first-child) > div:not(:first-child) > div {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

#projects img {
  border-radius: var(--radius);
  box-shadow: var(--btnshadow);
  margin-top: 5px;
  width: 240px;
  margin-bottom: 10px;
  filter: var(--darkenoverlay);
}

@media only screen and (min-width: 480px) {
  #projects img {
    flex: 0 0 150px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

#projects img:hover {
  box-shadow: var(--btnshadowhover);
}

/*--------------Contact------------*/
#contact > div > div:not(:first-child) svg {
  height: 1rem;
  width: 1rem;
  fill: rgb(var(--rgblight));
}

#contact > div > div > h5.phone > a {
  display: none;
}

#contact > div > div > h5.phone > click:after {
  content: "+";
  border-radius: 50%;
  border: 1px solid var(--fonttheme);
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
}

#contact > div > div > h5.phone > click:focus,
#contact > div > div > h5.phone > a:focus {
  outline: none;
}

#contact > div > div > h5.phone > click:focus + a {
  display: inline-flex;
}

#contact > div > div > h5.phone > click:focus:after {
  display: none;
}

#contact > div > div > h5.phone > click:hover:after {
  color: var(--color1);
  border: 1px solid var(--color1);
}

#contact > div > div > h5.phone > a:active {
  display: inline-flex;
}

#contact > div > div > h5.social {
  display: inline-flex;
  border-radius: 1rem;
  padding: 2px 10px;
  margin: 5px;
  box-shadow: var(--btnshadow);
  align-items: center;
  color: var(--fontthemerev);
}

#contact > div > div > h5.social:hover {
  box-shadow: var(--btnshadowhover);
}

#contact > div > div > h5.social > a {
  color: var(--fontwhite);
  display: flex;
  align-items: center;
}

#contact > div > div > h5.social:nth-child(4n + 1) {
  background-color: var(--color1);
}

#contact > div > div > h5.social:nth-child(4n + 2) {
  background-color: var(--color2);
}

#contact > div > div > h5.social:nth-child(4n + 3) {
  background-color: var(--color3);
}

#contact > div > div > h5.social:nth-child(4n + 4) {
  background-color: var(--color4);
}

#contact > div:last-child > div:first-child:after,
#contact:after {
  background: none;
}

/*--------------Quote------------*/

#quote {
  background: rgba(var(--quoteback), 0.65);
  color: var(--fontthemerev);
  padding: 40px;
  display: flex;
  flex-direction: column;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: var(--backdrop);
}

@media only screen and (min-width: 480px) {
  #quote {
    box-shadow: var(--shadow);
    border-radius: var(--radius);
  }

  #quote:hover,
  #quote:active {
    box-shadow: var(--hovershadow);
  }
}

@media only screen and (min-width: 1280px) {
  #quote {
    padding: 40px 80px;
  }
}

#quote > svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(var(--rgblight));
  align-self: flex-start;
  margin-bottom: 10px;
}

#quote:hover > svg {
  animation: wiggle 0.3s 3 ease-in-out, grow 0.3s 1 ease-in-out;
}

#quote p {
  color: var(--fontwhite);
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  align-self: center;
  padding: 0 20px;
  text-align: center;
}

#quote span {
  font-weight: 700;
  color: var(--fontwhite);
  margin-top: 8px;
  align-self: flex-end;
  font-size: 1rem;
}

#quote span:before {
  content: "– ";
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*--------------Scrollbar------------*/
:root {
  scrollbar-color: var(--color1) rgba(var(--rgbtheme), 1);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(var(--rgbtheme));
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius);
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb:vertical {
  height: 20px;
}
