<head>
    <!-- Basic things -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site information -->
    <title>{{ site.fname }} {{ site.lname }} | {{ page.title }}</title>
    <meta name="Description" content="{{ site.description }}" />

    <!--Favicon -->
    <link rel="icon" type="image/svg+xml" href="/assets/img/icons/logo.svg" />
    <link rel="icon" type="image/svg+xml" href="/assets/img/icons/logo-dark.svg" media="(prefers-color-scheme: dark)" />
    
    <!-- Main font preload -->
    <link rel="preload" href="/assets/fonts/regu.woff2" as="font" type="font/woff2" crossorigin />
    
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/main.css">
    
</head>