@charset "utf-8";
html { padding:0; margin:0; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
.clr { clear: both; font-size; 0; overflow: hidden; height: 0; }

body { margin:0; padding:0; margin-left:auto; margin-right:auto; width:100%; background:url(images/Background.jpg) top center repeat; }

#page {
  width: 460px;
  margin-left:auto;
  margin-right:auto;
}

#Footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 156px;
  z-index: -2;
}

#Header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 156px;
  z-index: -2;
  width: 100%;
}

#tCopyright {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  font-family: 'Amarante';
  font-size: 20px;
  color: #000000;
  text-wrap: -2px;
}

#tRknX {
  float: left;
  margin-left: 15px;
  margin-top: -7px;
  height: 250px;
  font-family: 'Amarante';
  font-size: 180px;
  z-index: 4;
  -webkit-text-stroke: 2px #000000;
  background-image: -webkit-linear-gradient(white, white, #ffe178, #ffc600, #ffc600);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#Facebook {
  float: right;
  margin-right: 25px;
  margin-top: -20px;
  height: 72px;
  z-index: 5;
  width: 72px;
}

#Twitter {
  float: right;
  margin-right: 25px;
  margin-top: -20px;
  height: 72px;
  z-index: 6;
  width: 72px;
}

#Instagram {
  float: right;
  margin-right: 25px;
  margin-top: -20px;
  height: 72px;
  z-index: 7;
  width: 72px;
}

#Email {
  float: right;
  margin-right: 25px;
  margin-top: -20px;
  height: 72px;
  z-index: 8;
  width: 72px;
}

#Download {
  float: right;
  margin-right: 0px;
  margin-top: -20px;
  height: 72px;
  z-index: 9;
  width: 72px;
}

#Home {
  float: none;
  width: 72px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -20px;
  height: 72px;
  z-index: 9;
}

#King {
  float: none;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 508px;
  z-index: 10;
}

#tBTYKB {
  float: left;
  margin-left: 35px;
  margin-top: 0px;
  z-index: 11;
  text-shadow:4px 3px 2px #000000;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Iceberg';
  color: #fccf36;
  line-height: 0.2;
  font-size: 40px;
}

#tOFMEF {
  float: right;
  margin-right: 35px;
  margin-top: -16px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);   
  -o-transform: rotate(180deg);
  z-index: 12;
  text-shadow:-4px -3px 2px #000000;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Iceberg';
  color: #df0020;
  line-height: 0.2;
  font-size: 40px;
}

#tAbout {
  float: right;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  z-index: 13;
  width: 100%;
  font-family: 'Yellowtail';
  color: #fff001;
  font-size: 36px;
  text-align: justify;
  -webkit-text-stroke: 1px #000000;
}

#tFiles {
  float:left;
  margin-top: 40px;
  z-index: 10;
  text-align: center;
  font-family: 'Amarante';
  color: #fff001;
  font-size: 30px;
  }