a, a:visited {
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 720px;
    margin: 50px 20px 20px;
}

@media only screen and (max-width: 650px) {
    main {
        margin: 20px 10px 10px;
    }
  }

section{
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

section h4, section h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

h1 {
    margin: 40px 0 5px;
}

h2 {
    margin: 10px 0 5px;
}

section h3 {
    margin: 25px 0 5px;
    border-bottom: 4px dotted var(--text_color);
    text-align: center;
}

section h4 {
    margin: 20px 0 0px;
}

section h5 {
    margin: 10px 0 5px;
}

section h6 {
    margin: 5px 0 5px;
}
