---
layout: base
---

<style markdown="1">
    .page-img{
        width: 100%;
        aspect-ratio: 2/1;
        background-size: cover;
        background-image: url( {{ page.thumb | prepend: "/assets/img/blog/" }} );
    }

    aside{
        margin-bottom: 36px;
    }
</style>

{% include sidebar.md %}

<main>

    {%- if page.thumb -%}<div class="page-img"></div>{%- endif -%}

    <article class="post-one">

        <h3>{{page.title}}</h3>

        <aside>

            {{page.date | date: "%B %-d, %Y"}}
            {% for tag in page.tags %}
                {{ tag | capitalize | prepend: " • " }}
            {% endfor %}
        </aside>
        
        {{ content }}

    </article>
    
</main>

{% include footer.md %}
