<!DOCTYPE html>

<html>
  
  {%- include head.html -%}

  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css">

    <!-- Theme used for syntax highlighting of code-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/theme/beige.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/highlight/zenburn.min.css">

    <!-- Printing and PDF exports
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ site.baseurl }}/assets/css/print/pdf.css' : '{{ site.baseurl }}/assets/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
     -->
  <style type="text/css" rel="stylesheet">
    :root {
        --r-background-color: var(--back_color);
        --r-main-font: "Main", OpenSans, Roboto, sans-serif;
        --r-main-font-size: 32px;
        --r-main-color: var(--text_color);
        --r-heading-font: "Main", OpenSans, Roboto, sans-serif;
        --r-heading-color: var(--text_color);
        --r-code-font: 'Code';
        --r-link-color: var(--select);
    }
  </style>

  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown
                 data-separator = "^\n-h.break-\n$"
                 data-separator-vertical="^\n-v.break-\n$"
                 data-separator-notes="^Note:"
        > 
            <textarea data-template>
                {{ content }}
            </textarea>
        </section>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/markdown/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/math/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/highlight/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/notes/notes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/zoom/zoom.min.js"></script>

    <script>
      Reveal.initialize({
        history: true,
        progress: true,
        slideNumber: 'c/t',
        transition: 'fade',
        plugins: [ RevealMarkdown, RevealMath.KaTeX, RevealHighlight, RevealNotes, RevealZoom ],
      });
    </script>
  </body>
</html>